//
//  EMEShareLib.xcconfig
//  EMEShare
//
//  Created by appeme on 4/2/14.
//  Copyright (c) 2014 EME. All rights reserved.
//
LIB_ROOT = $(BUILT_PRODUCTS_DIR)
SHARELIB_OTHER_LDFLAGS = -IEMEShareLib 
SHARELIB_HEADER_SEARCH_PATHS  =  "${LIB_ROOT}/../include/EMEShareLib"
SHARELIB_LIBRARY_SEARCH_PATHS = ${LIB_ROOT}


//第三方Frame库
SHARELIB_FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../../../ThirdParties/SNSSDK/QQ
