<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error.memberLst.isEmpty</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>群组已经被解散</string>
	</dict>
	<key>error.pid.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品ID不能为空</string>
	</dict>
	<key>error.content.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>评论不能为空</string>
	</dict>
	<key>error.id.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订单ID不能为空</string>
	</dict>
	<key>error.notblank.sCode</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商铺编号不能为空</string>
	</dict>
	<key>error.status.isedit</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订单已经编辑不能删除</string>
	</dict>
	<key>error.sCode.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>店铺编号不能为空</string>
	</dict>
	<key>error.idorcode.isnotblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品编号或商家商品编号不能为空</string>
	</dict>
	<key>error.product.forbid</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品已经下架</string>
	</dict>
	<key>error.usaddr.name.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>用户名不能为空</string>
	</dict>
	<key>error.usaddr.phone.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>联系电话不能为空</string>
	</dict>
	<key>error.usaddr.addr.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>收货地址不能为空</string>
	</dict>
	<key>error.pdlst.id.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品编号不能为空</string>
	</dict>
	<key>error.user.notexist</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>用户不存在</string>
	</dict>
	<key>error.store.notexist</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购店铺不存在</string>
	</dict>
	<key>error.fstore.notexist</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购友铺不存在</string>
	</dict>
	<key>error.product.notexist</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购商品部存在</string>
	</dict>
	<key>error.pCtgId.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品分类编号不能为空</string>
	</dict>
	<key>error.pTagId.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>商品标签编号不能为空</string>
	</dict>
	<key>error.bCount.notnull</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购数量不能为空</string>
	</dict>
	<key>error.bPrice.notnull</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购单价不能为空</string>
	</dict>
	<key>error.status.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购状态不能为空</string>
	</dict>
	<key>error.ver.notblank</key>
	<dict>
		<key>code</key>
		<string>1007</string>
		<key>cn</key>
		<string>订购版本号不能为空</string>
	</dict>
</dict>
</plist>
