<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="air.com.miutour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="Guidesys"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="air.com.miutour.guidesys.module.order.CharteredOrderInforActivity"
            android:label="订单详情页"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="air.com.miutour.guidesys.module.order.PickUpOrderInforActivity"
            android:label="订单详情页"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="air.com.miutour.guidesys.module.order.MixedOrderInforActivity"
            android:label="订单详情页"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".guidesys.module.order.CarPoolOrderInforActivity"
            android:label="拼车详情页"
            android:screenOrientation="portrait" />
        <activity
            android:name="air.com.miutour.guidesys.module.LoginActivity"
            android:label="登录页面"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="air.com.miutour.guidesys.module.webview.WebViewActivity"
            android:label="网页测试"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>