<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="webapp/.*" />
                    <action type="Rewrite" url="http://127.0.0.1:8080/" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="service/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8000/service/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="res/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:8080/res/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
